body{
    margin: 0px;
    padding: 0px;
}

html{
    margin: 0px;
    padding: 0px;
}

.header{
    height: 60px;
    line-height: 60px;
    padding: 20px;
    background-color: #2378ba;
}

.header h1{
    float: left;
    margin: 0px;
}

.header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.header li{
    float: left;
    margin-left: 20px;
}

.header a{
    text-decoration: none;
    color: #000000;
}

.content {
    width: 70%;
    float: left;
    background-color: #D3D3D3;
    min-height: 500px;
}

.sidebar {
    width: 30%;
    float: left;
    background-color: #A9A9A9;
    color: #ffffff;
    min-height: 500px;
}

.main p {
    margin: 20px;
}

.blog-post{
    margin: 10px;
    background-color: #ffffff;
    border: #D3D3D3;
    border-radius: 5px;
    padding: 10px
}

.blog-post img{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}